@import '../variables';

.catalog {
  display: grid;
  grid-template-columns: 1fr;
  gap: $card-gap-y $card-gap-x;
  padding: $catalog-padding-y $catalog-padding-x;
  justify-content: center;

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, $card-width);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, $card-width);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, $card-width);
  }
}

.card {
  background: #fff;
  border-radius: $card-radius;
  box-shadow: $card-shadow;
  transition:
    transform $transition,
    box-shadow $transition;
  width: $card-width;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image {
    width: 100%;
    height: 132px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
  }

  &__title {
    font-size: 1.05rem;
    margin: 18px 0 6px;
    color: $color-primary;
    transition: color $transition;
    font-weight: 700;
    text-align: center;
  }

  &__desc {
    font-size: 0.97rem;
    margin-bottom: 14px;
    color: $color-text-secondary;
    min-height: 38px;
    text-align: center;
  }

  &__actions {
    display: flex;
    gap: 12px;
    margin-bottom: 14px;
    width: 100%;
    justify-content: center;
  }

  &__button,
  [data-qa='card-hover'] {
    padding: $button-padding-y $button-padding-x;
    border-radius: $button-radius;
    background: $color-accent;
    color: #fff;
    border: $button-border-width solid transparent; // Zarezerwowane miejsce na border do hovera
    cursor: pointer;
    font-weight: 600;
    transition:
      background $transition,
      color $transition,
      border-color $transition;
    outline: none;
    text-decoration: none;
    font-size: 1rem;
  }

  &:hover,
  &.is-hovered {
    transform: scale(1.2);
    z-index: 1;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.12);

    .card__title {
      color: $color-title-hover;
    }

    .card__button,
    [data-qa='card-hover'] {
      background: #fff;
      color: $color-accent;
      border-color: $color-accent;
    }
  }
}
