@import '../variables';

.header {
  padding: $header-padding-y $header-padding-x $header-padding-bottom
    $header-padding-x;

  &__logo {
    height: 40px;
    width: auto;
    vertical-align: middle;
  }

  &__title {
    margin-left: 16px;
    font-size: 2rem;
    color: $color-primary;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
  }
}
