@import './variables';
@import './blocks/header';
@import './blocks/nav';
@import './blocks/stars';
@import './blocks/card';

body {
  font-family: Arial, sans-serif;
  background: #f7f7fb; // przykładowe tło
  margin: 0;
}
