$color-primary: #060b35;
$color-accent: #00acdc;
$color-title-hover: #34568b;
$card-width: 200px;
$gap-x: 46px;
$gap-y: 48px;
$padding-y: 50px;
$padding-x: 40px;
$transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
